.text-style {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  font-family: 'Roboto Slab';
  fill: #0cca4a;
  fill-opacity: 1;
  stroke-width: 0.264583;
  opacity: 0.05;
  user-select: none;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.05;
  }
}

@keyframes slide {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}